[[source]]
url = "${KRUX_PIP_PROP_URL}"
verify_ssl = true
name = "kruxprop"

[[source]]
url = "${KRUX_PIP_FOSS_URL}"
verify_ssl = true
name = "kruxfoss"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
statsd = "==3.2.2"

[dev-packages]
coverage = "*"
mock = "*"
nose = "*"
fudge = "*"
flake8 = "*"

[requires]
python_version = "2.7"
