[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
statsd = "==3.2.2"
argparse = "==1.4.0"

[dev-packages]
coverage = "*"
mock = "*"
nose = "*"
fudge = "*"

[requires]
python_version = "2.7"
